name: Tests

on:
  push:
    branches:
      - current
      - next
  pull_request:
    branches:
      - '*'

env:
  CI: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [10.x, 12.x, 14.x]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run tests
      run: npm cit
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@v1.1.2
      with:
        github-token: ${{ secrets.coveralls_token }}
        parallel: true

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.coveralls_token }}
          parallel-finished: true
